*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    line-height: 2;
    box-sizing: border-box;
}

a, p{
    font-size: 12px;
}

header, nav {
    color: white;
}

nav {
    background-color: #282828;
    padding: 0px 32px;
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    /*justify-content: space-between;*/
}

nav div {
    display: block;
}

nav div ul {
    text-align: right;
}

nav div ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 16px;
}

nav div ul li a {
    text-decoration: none;
}

nav div ul li a img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

header{
    background-color: #29294a;
    padding: 64px 32px 32px 32px;
    text-align: center;
}

#projects-header{
    padding: 8px 64px;
}

#projects-container{
    background-color: white;
    color:black;
}

.project {
    padding: 16px 64px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-reverse{
    flex-direction: row-reverse;
}

.project-text {
    text-align: left;
    width: 60%;
}

.project-text-right {
    text-align: right;
}

.project-text a {
    display: inline-block;
    background-color: #888888;
    padding: 4px 8px;
    margin: 16px 0px;
    border: 2px solid #aaaaaa;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

.project img {
    max-width: 256px;
    max-height: 256px;
}